/*--------------------------------------------------*/
/*1. Font Import*/
/*--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*--------------------------------------------------*/
/*2. General*/
/*--------------------------------------------------*/
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #15202B;
    color: rgb(199, 199, 199);
}

a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover {
    color: #dc3c64;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 3.25em;
    line-height: 1.35em;
}

h2 {
    font-size: 2em;
    line-height: 1.35em;
}

h3 {
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: 400;
}

h4 {
    font-size: 1.25em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

strong {
    color: white;
}

/*--------------------------------------------------*/
/*3. Container*/
/*--------------------------------------------------*/
.container {
    position: absolute;
    text-align: center;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*--------------------------------------------------*/
/*3. Mobile Only*/
/*--------------------------------------------------*/
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.25em;
        line-height: 1.35em;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 400;
    }
 }
 