/*--------------------------------------------------*/
/*1. Font Import*/
/*--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*--------------------------------------------------*/
/*2. General*/
/*--------------------------------------------------*/
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #0B0E11;
    color: rgb(199, 199, 199);
}

h1 {
    color: #FD4D4D;
    line-height: 1em;
    margin: 0 0 1em 0;
    font-size: 3.25em;
    line-height: 1.35em;
}

h3 {
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: 400;
}

a {
    color: rgb(199, 199, 199);
    text-decoration: none;
}

a:hover{
    color: #FD4D4D;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

/*--------------------------------------------------*/
/*3. Container*/
/*--------------------------------------------------*/
.container {
    position: absolute;
    text-align: center;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

/*--------------------------------------------------*/
/*3. Mobile Only*/
/*--------------------------------------------------*/
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.25em;
        line-height: 1.35em;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 400;
    }
 }
 